.buttonTask {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 9rem;
  height: 5.4rem;
  gap: 0.8rem;

  border-radius: 8px;
  border: none;
  
  font-weight: 700;
  font-size: 1.4rem;

  background: var(--blue-200);
  color: var(--gray-100);
}

.buttonTask:hover {
  background-color: var(--blue-100);
  cursor: pointer;
}

.buttonTask:disabled {
  cursor: not-allowed;
}

.buttonTask span {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--gray-100);
}
